In [14]:
#import all necessary functions for working with ncdata
import xarray as xr
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [9]:
## read the data and stored in variable latin_hypercube
file='/glade/campaign/cgd/tss/projects/PPE/PPEn11_OAAT/CTL2010/hist/PPEn11_CTL2010_OAAT0000.clm2.h0.2005-02-01-00000.nc'
latin_hypercube = xr.open_dataset(file)

In [9]:
#write the function that asks users the input and then uses that input into new function

####step 1
 #ask user for the input
def get_user_input():
    # Ask the user for a variable name for which function calculates weighted average
    variable = input("Please enter the variable you are interested in: ")
    return variable
    
####step 2
 #store the user input
user_input = get_user_input()

####step 3
 #pass the user_input to the function that calculates average
def calculate_global_monthly_average(variable_name= user_input, dataset = latin_hypercube)):

    ## read the dataset
    dataset = latin_hypercube
    
    ## changed any stored variable name to array
    variable  = dataset["user_input"]

    #group by the time-year variable
    variable_grouped = dataset.groupby("time.year")  #"time.daysinmonth"
    
    # Calculate the global  by averaging over the time dimension
    global_mean = variable_grouped.weight(dim=['time'])

    #global_mean = variable_grouped / latin_hypercube['time.daysinmonth'].groupby('time.year').sum(dim='time')
    return global_mean

In [20]:
# some data exploration function for looking into data
# variable_grouped = latin_hypercube['TSA'].groupby("time.dayofyear").mean(dim=['time'])
# print(variable_grouped)

AttributeError: 'DataArrayGroupBy' object has no attribute 'to_numpy'

In [7]:
user_input = get_user_input()

Please enter the variable you are interested in:  sujan

'sujan'

In [10]:
#test function on a dummy variable
global_mean = calculate_global_monthly_average('TSA')
print(global_mean)

<xarray.Dataset>
Dimensions:                            (levgrnd: 25, levsoi: 20, levlak: 10,
                                        levdcmp: 25, year: 11, lon: 144,
                                        lat: 96, gridcell: 400, landunit: 1148,
                                        column: 2599, pft: 4387, cft: 2,
                                        ltype: 9, nvegwcs: 4)
Coordinates:
  * levgrnd                            (levgrnd) float32 0.01 0.04 ... 42.0
  * levsoi                             (levsoi) float32 0.01 0.04 ... 6.94 8.03
  * levlak                             (levlak) float32 0.05 0.6 ... 34.33 44.78
  * levdcmp                            (levdcmp) float32 0.01 0.04 ... 42.0
  * lon                                (lon) float32 0.0 2.5 5.0 ... 355.0 357.5
  * lat                                (lat) float32 -90.0 -88.11 ... 88.11 90.0
  * year                               (year) int64 2005 2006 2007 ... 2014 2015
Dimensions without coordinates: gridcell, landunit, column, pft, cft, ltype,
                                nvegwcs
Data variables: (12/494)
    mcdate                             (year) float64 2.005e+07 ... 2.015e+07
    mcsec                              (year) float64 0.0 0.0 0.0 ... 0.0 0.0
    mdcur                              (year) float64 181.6 531.5 ... 3.65e+03
    mscur                              (year) float64 0.0 0.0 0.0 ... 0.0 0.0
    nstep                              (year) float64 8.719e+03 ... 1.752e+05
    area                               (year, lat, lon) float32 nan nan ... nan
    ...                                 ...
    XSMRPOOL                           (year, gridcell) float32 -50.36 ... -0...
    XSMRPOOL_RECOVER                   (year, gridcell) float32 6.967e-06 ......
    ZBOT                               (year, gridcell) float32 30.0 ... 30.0
    ZWT                                (year, gridcell) float32 1.084 ... 8.6
    ZWT_CH4_UNSAT                      (year, gridcell) float32 7.01 ... 0.0
    ZWT_PERCH                          (year, gridcell) float32 7.283 ... 0.01
Attributes: (12/40)
    title:                                     CLM History file information
    comment:                                   NOTE: None of the variables ar...
    Conventions:                               CF-1.0
    history:                                   created on 09/06/23 02:33:14
    source:                                    Community Terrestrial Systems ...
    hostname:                                  cheyenne
    ...                                        ...
    ctype_urban_pervious_road:                 75
    cft_c3_crop:                               1
    cft_c3_irrigated:                          2
    time_period_freq:                          month_1
    Time_constant_3Dvars_filename:             ./PPEn11_CTL2010_OAAT0000.clm2...
    Time_constant_3Dvars:                      ZSOI:DZSOI:WATSAT:SUCSAT:BSW:H...

some highlights to see data variables
- latin_hypercube.data_vars
- latin_hypercube.attrs
- latin_hypercube.time
- latin_hypercube.time.shape